body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;

  }
  
  
  header {
    text-align: center;
    margin-top: 50px;
  }
  
  img {
    width: 250px;
    height: 250px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid rgb(160, 53, 133);
    background-color: white;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(160, 53, 133);
    text-align: center;
  }

  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: #ccc;
  }


.img2 {
    width: 400px;
    height: 400px; 
    display: flex;
    margin-left: center ;
    margin-right:center;
    border-radius: 0%;
    border: 2px solid rgb(160, 53, 133);
    background-color: white;
  }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #333;
  }
 
  form {
	max-width: 600px;
	margin: 0 auto;
	padding: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input, textarea {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
}

input[type="submit"] {
	background-color: rgb(160, 53, 133);
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px 30px;
	border-radius: 5px;
	font-size: 16px;
}


  
  
  